## Visual Studio / .NET
[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Databases
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
